{{#each products}}
  <div class="row">
    {{#each this}}
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="{{this.imagePath}}" alt="..." height="100" >
            <div class="caption">
              <h3>{{this.title}}</h3> 
              <div>
              {{this.description}}
              </div>
              <div class="margin-top">
                <span>price: {{this.price}}</span>    
                <button class="btn btn-success">Add to shopping cart</button>            
              </div>         
            </div>
          </div>
        </div>         
    {{/each}}
  </div>
{{/each}}

